*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    background-color: rgb(21, 58, 82);
    height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 9;
}

#header2{
   background-color: aqua;
   width: 100%;
   position: fixed;
}


#presentation{
    padding: 0px;
    margin: 0px;
    background-color: rgb(15, 127, 224);
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#presentation-title{
    color: white;
    font-size: 35px;
    font-weight:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#button-go{
    background-color: rgb(27, 182, 27);
    height: 50px;
    width: 200px;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#presentation #caderno{
    position: absolute;
    left: 0;
}
#presentation #marker{
    position: absolute;
    right: 0;
    top: 0;
}

#div-menu{
    height: 20px;
    width: 400px;
    position: absolute;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
    list-style: none;
}

ul :hover{
    color: aqua;
}

h3{
    margin-left: 10px;
    color: white;

}

#infos{
    background-image: linear-gradient(rgb(15, 127, 224), blue);
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
}

#infos article{
    height: 300px;
    width: 500px;
    background-color: white;
    margin-right: 50px;
    border-radius: 10px;
}

#infos article img{
    border-radius: 10px;
}

footer{
    width: 100%;
    background-color: rgb(21, 58, 82);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0;
}

#divContainer{
    background-color: rgb(121, 193, 255);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

#div-acoes{
    background-color: rgb(247, 218, 218);
    height: 60px;
    width: 1100px;;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

#btn-op{
    padding: 20px;
}
#btn-op button{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: 0;
    font-weight:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

#criar{
    background-color: rgb(10, 250, 10);
    border: 0;
}

#deletar-tudo{
    background-color: red;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: 0;
    margin: 10px;
    font-weight:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

#deletar{
    background-color: rgb(37, 7, 121);
    border: 0;
}
#editar{
    background-color: rgb(37, 7, 121);
    border: 0;
}
#concluir{
    background-color: rgb(37, 7, 121);
    border: 0;
}

.container-encomendas{
    background-color: white;
    height: 550px;
    width: 1100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    
}

.encomendas{
    background-color: rgb(37, 7, 121);
    height: 60px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    justify-items:center;
    border-radius: 5px;
}

.encomendas h1{
    padding: 10px;
    font-size: 30px;
    font-weight:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

#button-container{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

#menu-lateral-tarefas{
    height: 550px;
    width: 250px;
    background-color: rgb(207, 187, 187);
    position: absolute;
    left: 0;
}

#modal{
    background-color: grey;
    height: 500px;
    width: 500px;
    border-radius: 20px;
    transform: translateY(-50%)
}

#horario{
    margin-bottom: 10px;
    font-size: 12px;
    color: white;
}

#new-task{
    height: 40px;
    width: 250px;
    background-color: white;
    border: 0;
    margin: 10px;
    border-radius: 10px;
}
#date-task{
    height: 40px;
    width: 150px;
    background-color: white;
    border: 0;
    margin: 10px;
    border-radius: 10px;
}

#form-cad{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    align-items: center;
}

#no-tasks{
    position: absolute;
    font-size: 30px;
    font-weight:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translateY(-50%);
    top: 50%;
}

#start-use{
    background-color: rgb(27, 182, 27);
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: auto;
    padding: 2px;
    
}

#container-social-media{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.menu-li{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}

aside{
    height: 300px;
    width: 500px;    
    margin-left: 50px;
    border-radius: 10px;
}
aside p{
    color: white;
}

aside h1{
    font-size: 30px;
    font-weight:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

hr{
    background-color: grey;
    margin: 0;
    padding: 0 auto;
}

.modal{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: rgb(218, 205, 205);
    border-radius: 10px;
    top: 100px;
    z-index: 9px;
    display: none;
    flex-direction: column;
    gap: 10px;
}

.modal h1{
    font-size: 18px;
    padding: 10px;
}

.modal #confirm-delete{
    padding: 10px;
    background-color: red;
    height: 40px;
    border-radius: 10px;
    border: 0;
    margin: 10px;
    z-index: 19;
}
.modal #cancelar-delete{
    padding: 10px;
    background-color:rgb(179, 179, 243);
    height: 40px;
    border-radius: 10px;
    border: 0;
    margin: 10px;
}
.modal-editar{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: rgb(218, 205, 205);
    border-radius: 10px;
    top: 100px;
    z-index: 9px;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.modal-editar button{
    height: 40px;
    border-radius: 10px;
    border: 0;
}

.modal-editar input{
    height: 40px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
}

.modal-editar h1{
    font-size: 18px;
    padding: 10px;
}

.modal-editar #confirm-delete{
    padding: 10px;
    background-color: red;
    height: 40px;
    border-radius: 10px;
    border: 0;
    margin: 10px;
}
.modal-editar #cancelar-delete{
    padding: 10px;
    background-color: red;
    height: 40px;
    border-radius: 10px;
    border: 0;
    margin: 10px;
}
