
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
    <script src="./index.js" defer></script>
</head>
<body>

   <header>
    
    <!-- <a id="logo" href="/">  <img src="transparent-shipping-box-box-package-delivery-5dbb68d1a10c23.8583468215725631536597.png" alt="" width="40px" height="40px"></a> -->
       <div class="div-menu">
        
        <ul class="menu">
            <li><a href="/">home</a></li>
            <li><a href="/estoque">estoque</a></li>
            <li><a href="/cadastrar">Cadastrar</a></li>
            <li><a href="/editar">editar</a></li>
            <li><a href="/deletar">deletar</a></li>
        </ul>

       </div>

    
   </header>
        
            
    <div class="container">
        <div class="propaganda">
            <h1>Stock center</h1>
        </div>
        <div class="box">
            <div class="itens-cadastrar">
                <div>
                <form action="/cadastrar" method="post">
                   <fieldset>
                    <!-- <legend>cadastrar</legend> -->

            <label for="nome_produto">nome produto</label>
            <input type="text" placeholder="Nome produto" name="nome_produto" id="imp" required>

            <label for="altura">altura</label>
            <input type="number" placeholder="altura produto" name="altura" id="imp" required>

            <label for="largura">largura</label>
            <input type="number" placeholder="largura produto" name="largura" id="imp" required>

            <label for="peso">peso</label>
            <input type="number" placeholder="peso produto" name="peso" id="imp" required>

            <label for="entregador">entregador</label>
            <input type="text" placeholder="Entregadores" name="entregador" id="imp" required>

            <label for="endereco">endereço</label>
            <input type="text" placeholder="Endereço de entrega" name="endereco" id="imp" required>

            <label for="status">status</label>
            <input type="text" placeholder="status entrega" name="status" id="imp" required>

                    <button type="submit">cadastrar produto</button>
                   </fieldset>
                    
                </form>

           

        </div>
      
         
      
        
      
                
            </div>
        </div>

    </div>
    <div class="container-2">
        <div class="txt"><h1>Serviços</h1></div>
        <div class="grid">
            <div class="grid-itens">
                <h1>estoque</h1>
            </div>
            <div class="grid-itens">
                <h1>organização</h1>
            </div>
            <div class="grid-itens">
                <h1>parcerias</h1>
            </div>
        </div>
    </div>

    <footer></footer>
</body>
</html>